html {
    background-color: rgb(132, 169, 236);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: rgb(23, 75, 172);
}

h2 {
    font-size: 29px;
    background-color: rgb(23, 75, 172);
    color: white;
}

h3 {
    color: rgb(23, 75, 172);  
}

h3.videocurriculum {
    text-align: center;
}

h3.portfolio {
    text-align: center;
    margin-bottom: 20px;
}

img.perfil {
    display: block;
    margin: auto;
    width: 300px;
}

img.navas {
    float: right;
    width: 350px;
    margin-right: 40px;
}

img.idiomas {
    margin-left: 11%;
    margin-right: 11%;
    width: 200px;
}

p {
    font-size: 20px;
}

p.centro {
    text-align: center;
}

iframe.corto {
    float: right;
    margin-right: 100px;
}

li {
    font-size: 20px;
}

object.blog {
    float: right;
    width: 500px;
    height: 400px;
    margin-right: 100px;
}

section.otros {
    position: relative;
    top: 250px;
}